%flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

%fullfill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}