// Colores
$primaryColor: hsl(78, 100%, 42%) !default;
$secondaryColor: hsl(78, 100%, 25%) !default;
$black: hsl(0, 0%, 10%) !default;
$white: hsl(0, 0%, 100%) !default;

// Fuentes
$font-family: 'Poppins', sans-serif !default;
$font-size: 16px !default; //Descriptiva

// Layout

$xl-break: 1200px;
$lg-break: 992px;
$md-break: 768px;
$sm-break: 576px;

// Temas

$themes: (
    (
        name: 'default',
        type: 'light',
        primaryColor: $primaryColor,
        secondaryColor: $secondaryColor,
        primaryFont: $font-family,
        secondaryFont: $font-family,
        base: $white,
        contrast: $black 
    ),
    (
        name: 'dark',
        type: 'dark',
        primaryColor: $primaryColor,
        secondaryColor: $secondaryColor,
        primaryFont: $font-family,
        secondaryFont: $font-family,
        base: $black,
        contrast: $white 
    )
);

